body {
    background-color:#ff7a00;
    background-size: 100%;
    
}

input {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
    
}

input:hover {
    background-color:darkorange;
}

button:hover {
    background-color: darkgreen;
}

p {
    color: #fff;
    font-size: 30px;
    line-height: 45px;  
    margin: 20px 35px;
}
h1 {
    text-align: center;
    color: cornsilk;
    font-size: 42px;
    letter-spacing: 6px;
}

@media screen and (max-width: 992px) {
    body {
      background-color: #d44000;
      color: white;
    }
  }